.main {
  background-color: white;
  max-width: 100% !important;
  height: auto;
}
.mainarea {
  background-image: url("../../../public/asset/headeroval.png");
  background-size: cover; /* Adjust this as needed */
  background-position: center; /* Adjust this as needed */
  height: 840px;
}

.signlog {
  color: #616160;
  font-family: Founders Grotesk;
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: 0px;
  text-align: center;
}
.iconimg {
  display: flex;
  justify-content: center !important;
  text-align: center !important;
  margin-top: 6px;
}
.iconandheading h1 {
  margin-top: 30px;
}

/* second part css  */

.text {
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: 0px;
  text-align: center;
  color: #979187;
  padding: 0 10%;
  display: flex;
  justify-content: end;
}
.profileimg {
  margin-inline: 16px;
}
.signup {
  display: flex;
  justify-content: end;
}
.rowpart {
  display: flex;
  justify-content: end;
}
/* centerpart   */

.centerpart {
  font-size: 24px;
  font-weight: 400;
  line-height: 34px;
  letter-spacing: 0px;
  text-align: center;
  width: 600px;
  color: #969696;
}
.centerpart h1 {
  display: flex;
  justify-content: center;
}
.midpart {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 99%;
  height: 176px;
}

/* searchbox  */
.searchbox {
  display: flex;
  justify-content: center;
}

.search-container {
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  width: 568px;
}
.searchcontainer {
  /* position: relative; */
  /* ; Adjust the width as needed */
  /* display: flex;
  justify-content: center;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center; */
}

.searchBar {
  width: 568px;
  height: 38px;
  border: none;
  outline: none;
  padding: 5px;
  font-size: 16px;
  border-bottom: 2px solid #e8decf; /* Red bottom line with 2px border */
  background-color: transparent; /* Set background color as transparent */
  color: white; /* Text color */
  /* top: 311px;
  left: 406px */
}

.underline {
  position: absolute;
  bottom: 0;
  left: 0;
  /* width: 100%;
  height: 2px; */
  /* background-color: #f66; Change the color as needed */
  transform: scaleX(0); /* Start with the line hidden */
  transition: transform 0.3s ease-in-out; /* Add a smooth animation */
}

.show {
  transform: scaleX(1); /* Show the line when the input is focused */
}
.searchig img {
  height: 67px;
  width: 78px;
}
.searchBar {
  /* ... your existing styles ... */

  /* Change the placeholder color */
  &::placeholder {
    color: #969696; /* Change this color as needed */
  }
}
input::placeholder {
  color: #969696; /* Change this to the color you desire */
}

/* Live Auctions csss */

.containerss {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 32px;

  margin-top: -27%;

  position: relative;
}
.recent_main {
  margin-top: 36px;
  margin-bottom: 116px;
  padding: 0 86px;
}
.action {
  color: #e8e8e8;
  /* font-family: Fira Sans; */
  /* font-family: 'Fira_sans'; */
  font-size: 32px;
  font-weight: 400;
  line-height: 38px;
  letter-spacing: 0px;
  text-align: left;
}
.buttonbox {
  color: #867f73;
}
.view-row {
  display: flex;
  text-align: center;
  align-items: center;
}
.arrow {
  width: 21.077104568481445px;
  height: 15.216606140136719px;
}
.buttonbox {
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: 0.20000000298023224px;
  text-align: right;
  /* width: 50px; */
  height: 19px;
  top: 0.71661376953125px;
  margin-inline: 18px;
}
.filterimg {
  height: 35px;
  width: 35px;
  /* justify-content: center; */
  /* display: flex; */
  justify-content: center;
  /* text-align: center; */
  align-items: baseline;
  /* margin-inline: 29px; */
  margin-bottom: 21px;
}

.filterside {
  color: #e8decf;
  /*  */
  font-size: 18px;
  font-weight: 400;
  line-height: 38px;
  letter-spacing: 0.30000001192092896px;
  text-align: center;
  margin-inline: 10px;
}
.filterpart {
  display: flex;
  justify-content: center;
  align-items: center;
}
.filterimg {
  height: 35px;
  width: 35px;
  margin-inline: 5px;
}
.rowfilter {
  box-shadow: 0px 1px 8px 0px #00000020;
}
/* .industry{
  
  font-size: 26px;
  font-weight: 400;
  line-height: 33px;
  letter-spacing: 0px;
  text-align: center;
  width: 635px;
  height: 72px;
  top: 107px;
  left: 143px;
  padding: 0px 51px;
color: #565656;
} */
